<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Core.Properties.Settings.SFA_SoftexConnectionString"
            connectionString="Data Source=ANDYYO-LENOVOPC\SQLEXPR2014;Initial Catalog=SFA_Softex;User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.SFA_Softex_Banceuy_ConnectionString"
            connectionString="Data Source=ANDYYO-LENOVOPC\SQLEXPR2014;Initial Catalog=SFA_Softex(Banceuy);User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.SFA_Softex_Banceuy_ConnectionString1"
            connectionString="Data Source=ANDYYO\SQLEXPR2014;Initial Catalog=SFA_Softex(Banceuy);User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.ToolSmartConnectionString"
            connectionString="Data Source=ANDYYO\SQLEXPR2014;Initial Catalog=ToolSmart;User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.WarehouseConnectionString"
            connectionString="Data Source=ANDYYO\SQLEXPR2014;Initial Catalog=Warehouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.WarehouseConnectionString1"
            connectionString="Data Source=ANDYYO\SQLEXPR2014;Initial Catalog=Warehouse;User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.CourierDeliveryConnectionString"
            connectionString="Data Source=192.168.1.111;Initial Catalog=CourierDelivery;User ID=sa;Password=gajah.013"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.TIKI_CourierConnectionString"
            connectionString="Data Source=192.168.1.111;Initial Catalog=TIKI_Courier;Persist Security Info=True;User ID=sa;Password=gajah.013"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.sfa_courierConnectionString"
            connectionString="Data Source=JOSHUA-PC\SQLEXPRESS;Initial Catalog=sfa_courier;User ID=sa;Password=cuki123"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Faber_TransportConnectionString"
            connectionString="Data Source=NANDHA-PC;Initial Catalog=Faber_Transport;Persist Security Info=True;User ID=sa;Password=gajah.013"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.TestCallPlanConnectionString"
            connectionString="Data Source=laptop-k4u6g342;Initial Catalog=TestCallPlan;User ID=sa;Password=admin1234567"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Faber_TransportConnectionString1"
            connectionString="Data Source=NANDHA-PC;Initial Catalog=Faber_Transport;User ID=sa;Password=gajah.013"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Faber_TransportConnectionString2"
            connectionString="Data Source=LAPTOP-K4U6G342;Initial Catalog=Faber_Transport;User ID=sa;Password=admin1234567"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Avian_TransportConnectionString"
            connectionString="Data Source=NANDHA-PC;Initial Catalog=Avian_Transport;Persist Security Info=True;User ID=sa;Password=gajah.013"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Avian_TransportConnectionString1"
            connectionString="Data Source=LAPTOP-K4U6G342;Initial Catalog=Avian_Transport;User ID=sa;Password=admin1234567"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Avian_TransportConnectionString2"
            connectionString="Data Source=JOSHUA-PC\SQLEXPRESS;Initial Catalog=Avian_Transport;User ID=sa;Password=cuki123"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Avian_Transport2ConnectionString"
            connectionString="Data Source=NANDHA-PC;Initial Catalog=Avian_Transport2;Persist Security Info=True;User ID=sa;Password=gajah.013"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Avian_TransportConnectionString3"
            connectionString="Data Source=192.168.0.159,8009;Initial Catalog=Avian_Transport;User ID=mc;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Avian_TransportConnectionString4"
            connectionString="Data Source=117.102.76.194,8009;Initial Catalog=Avian_Transport;User ID=mc;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.INVENTConnectionString" connectionString="Data Source=117.102.76.194,8009;Initial Catalog=INVENT;User ID=mc;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.Avian_TransportConnectionString5"
            connectionString="Data Source=117.102.76.194,8009;Initial Catalog=Avian_Transport;User ID=mc"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.WYETH_FIELDSERVICEConnectionString"
            connectionString="Data Source=JOSHUA-PC\SQLEXPRESS;Initial Catalog=WYETH_FIELDSERVICE;User ID=sa;Password=cuki123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>