<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Core.Properties.Settings.SFA_SoftexConnectionString"
            connectionString="Data Source=ANDYYO-LENOVOPC\SQLEXPR2014;Initial Catalog=SFA_Softex;User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.SFA_Softex_Banceuy_ConnectionString"
            connectionString="Data Source=ANDYYO-LENOVOPC\SQLEXPR2014;Initial Catalog=SFA_Softex(Banceuy);User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.SFA_Softex_Banceuy_ConnectionString1"
            connectionString="Data Source=ANDYYO\SQLEXPR2014;Initial Catalog=SFA_Softex(Banceuy);User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.ToolSmartConnectionString"
            connectionString="Data Source=ANDYYO\SQLEXPR2014;Initial Catalog=ToolSmart;User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.ToolSmartLiveConnectionString"
            connectionString="Data Source=andyyo\sqlexpr2014;Initial Catalog=ToolSmartLive;User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.WarehouseConnectionString"
            connectionString="Data Source=ANDYYO\SQLEXPR2014;Initial Catalog=Warehouse;User ID=sa;Password=adminsa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>